<div class="container">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/IMG_1044.jpg" alt="Card image cap">
      <div class="card-body text-center">
          <span class="" ></span>
        <h5 class="card-title text-center">Brooklyn</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/home" class="btn btn-primary">Home Page</a>
      </div>
    </div>
</div>
